@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-headline: var(--font-courgette);
  --font-body: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-body), Arial, Helvetica, sans-serif;
}

/* Example headline usage */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-headline), cursive;
}
